<div class="createGameWrapper">
            <div class="main-short-banner"><img class="inner-page-mini-logo" src="images/collabit-logo.png" /></div>
            <div class="info">awaited for a user to create test</div>
            <div id="gameURL" class="infoBig">Create Room</div>
            <div class="info">click <strong>JOIN</strong> and <br/> enter the following Game ID:</div>
            <div id="spanNewGameCode">{{roomId}}
            </div>

            <div id = "createmsg">{{joinmsg}}</div>

            <div id="playersWaiting"></div>
        </div>